Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.18
PyCap==0.8.1
Werkzeug==0.9.4
backports.ssl-match-hostname==3.4.0.2
distribute==0.6.34
gevent==1.0
greenlet==0.4.2
gunicorn==18.0
ipython==1.2.0
itsdangerous==0.23
numpy==1.8.0
pandas==0.13.1
py==1.4.20
pytest==2.5.2
python-dateutil==2.2
pytz==2013.9
pyzmq==14.0.1
requests==2.2.1
six==1.5.2
tornado==3.2
